<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Binance API Bot Manager</title>
</head>
<body>
    <div id="header">
        <h1>Binance API Bot Manager</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/create_bot">Create Bot</a></li>
            <li><a href="/bot_list">Bot List</a></li>
        </ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
