{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar">
                {% include 'sidebar.html' %}
            </div>
            <div class="col-md-10 main">
            <h1>Общие настройки</h1>
            <div class="settings">
                <h2>API-менеджер</h2>
                <p>Список всех введеных API</p>
                <!-- Здесь может быть код для отображения списка API -->
                <h2>Список торговых пар</h2>
                <p>Перечень созданых Ч/Б списков торговых пар</p>
                <!-- Здесь может быть код для отображения списка торговых пар -->
                <h2>Депозит-менеджер</h2>
                <p>Список кошельков (балансов)</p>
                <!-- Здесь может быть код для отображения списка кошельков -->
                <h2>Менеджер стратегий</h2>
                <p>Список созданых стратегий</p>
                <!-- Здесь может быть код для отображения списка стратегий -->
            </div>
        </div>
    </div>
</body>
</html>
