<!DOCTYPE html>
<html>
  <head>
    <title>Настройки</title>
  </head>
  <body>
    <h1>Настройки</h1>
    <h2>API</h2>
    <ul>
      {% for api in api_list %}
      <li>{{ api.name }}</li>
      {% endfor %}
    </ul>
    <h2>Списки торговых пар</h2>
    <ul>
      {% for coinlist in coinlist_list %}
      <li>{{ coinlist.name }}</li>
      {% endfor %}
    </ul>
    <h2>Кошельки</h2>
    <ul>
      {% for wallet in wallet_list %}
      <li>{{ wallet.name }} - {{ wallet.balance }}</li>
      {% endfor %}
    </ul>
    <h2>Стратегии</h2>
    <ul>
      {% for strategy in strategy_list %}
      <li>{{ strategy.name }}</li>
      {% endfor %}
    </ul>
    <a href="{{ url_for('api_manager') }}">Управление API</a>
    <a href="{{ url_for('coinlist_manager') }}">Управление списками торговых пар</a>
    <a href="{{ url_for('depo_manager') }}">Управление кошельками</a>
    <a href="{{ url_for('strategy_manager') }}">Управление стратегиями</a>   
  </body>
</html>
