.sidebar {
    background-color: #262626;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
  }
  
  .sidebar a {
    color: #ffffff;
  }
  
  .sidebar a:hover {
    color: #99ccff;
  }

  /* Добавляем отступ сверху и снизу для всего контента */
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Делаем блок настроек шире и центрируем его */
.settings {
  width: 80%;
  margin: 0 auto;
}

/* Распределяем поля ввода и текстовые метки равномерно на странице */
.settings label,
.settings input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

/* Размещаем кнопку "Сохранить" в конце блока настроек */
.settings button {
  margin-top: 20px;
  float: right;
}
